.git
.idea
.vscode
__pycache__
*.pyc
*.pyo
*.bak*
*.log

results
benchmarks
reports
registry

data
datasets
raw_data
outputs

envs
output
tmp
figures
*.docx

*.tif
*.tiff
*.ome.tif
*.ome.tiff
*.h5
*.hdf5
*.pt
*.pth
*.ckpt

.env
*.key
*.pem
id_rsa
id_rsa.pub

.DS_Store
